from dpipe.split import stratified_train_val_test_split


#40 to test, 40 to validation
n_splits = 9
val_size = 40

n_experiments = 1 #only 1 split

split = stratified_train_val_test_split(
    ids=dataset.ids,
    labels=list(dataset.df.fold),
    n_splits=n_splits,
    val_size=val_size,
    random_state=seed
)[:n_experiments]

