from functools import partial

from dpipe.batch_iter import Infinite, load_by_random_id, apply_at
from dpipe.im.utils import identity, prepend_dims
from damri.batch_iter import extract_patch, center_choice_random  # augm_spatial


augm_fn = identity
# augm_fn = augm_spatial

batch_iter = Infinite(
    load_by_random_id(dataset.load_image, dataset.load_segm, ids=train_ids, random_state=seed),
    apply_at(index=[0, 1], func=prepend_dims),
    partial(center_choice_random, y_patch_size=y_patch_size),
    partial(extract_patch, x_patch_size=x_patch_size, y_patch_size=y_patch_size),
    augm_fn,
    batch_size=batch_size, batches_per_epoch=batches_per_epoch
)
