from damri.torch import freeze_model, load_model_state_fold_wise
from damri.utils import choose_root


baseline_exp_path = choose_root('/gpfs/gpfs0/b.shirokikh/experiments/da/paper_3d/unet3d_one2all', )
preload_model_fn = load_model_state_fold_wise
exclude_layers = ('inconv', )

run_experiment = run(
    fix_seed(seed=seed),
    lock_dir(),
    preload_model_fn(architecture=architecture, baseline_exp_path=baseline_exp_path),
    freeze_model(architecture, exclude_layers=exclude_layers),
    architecture.to(device),
    if_missing(lambda p: [train_model, save_model_state(architecture, p)], saved_model_path),
    load_model_state(architecture, saved_model_path),
    if_missing(predict_to_dir, output_path=test_predictions_path),
    if_missing(evaluate_individual_metrics, results_path='test_metrics'),
)
